
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
}

button {
  padding: 10px 20px;
  font-size: 1.2 rem;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #34495e;
  color: white;
  transform: scale(1.05);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.contained {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
}


.sidebar {
  padding: 15px;
  max-height: 100vh;
  margin: 0;
  width: 20vw;
  display: flex;
  flex-direction: column;
  background-color: #34495e;
  color: rgb(145, 140, 140);
  overflow-y: scroll;
}

.subject-container {
  margin-bottom: 15px;
}

.subject-header {
  display: flex;
  align-items: center;
}

.subject-button {
  width: 70%;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  background-color: #2c3e50;
  color: rgb(241, 231, 231);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.subject-button.active,
.subject-button:hover {
  background-color: #1abc9c;
  color: white;
}

.dropdown-icon {
  width: 20%;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.question-dropdown {
  margin-top: 8px;
  padding-left: 15px;
}


.question-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-item.not-attempted {
  color: gray;
  background-color: #bdc3c7;
}

.question-item.attempted {
  color: white;
  background-color: #2ecc71;
}

.question-item.marked-for-review {
  color: white;
  background-color: #f39c12;
}

.question-item:hover {
  opacity: 0.9;
}


.question-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80vw;
  background-color: white;
  overflow-y: auto;
}

.question-section h1 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #2c3e50;
  margin-bottom: 15px;
}

.question-section p {
  font-size: 1.5rem;
  color: #34495e;
  margin: 10px 0;
}


.navigation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
  width: 100%;
}

.previous,
.next {
  padding: 5px 12px;
  font-size: 0.9rem;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 35%; 
}

.previous:hover,
.next:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}


.mark-for-review-btn {
  margin-bottom: 15px;
  padding: 6px 12px; 
  font-size: 0.85rem; 
  background-color: #f39c12;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 35%; 
  align-self: center;
  text-align: center;
  position: relative;
  right:0px;
}
.hide{
  display:none;
}

.mark-for-review-btn:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}


.submit-container >.btn {
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  font-size: 1rem;
  margin-top: 10px;
  padding: 7px 15px;
  width: 12%; 
  
   height:30px;
   position:absolute;
   top:100px;
   right:15px;
   display: inline-block;
   
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}

.btn:hover {
  background-color: #1abc9c;
  transform: scale(1.05);
}
.timer {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}
@media (max-width: 910px ){
  

 .hide2{
  display:none;
 }
  .show{
    display :none;
  }
  .hide{
    display:inline-block;
    
  }
  .sidebar {
    height: 160px;
    padding: 5px;
    margin: 0;
    width: 100%;
    position: relative;
    right:0px;
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    color: rgb(145, 140, 140);
    overflow-y: auto;
  }
  button {
    padding: 6px 12px;
    font-size: 1 rem;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 70%;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .contained {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
  }
  .question-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
    background-color: white;
    overflow-y: auto;
  }
  .btn7 {
    cursor: pointer;
    background-color: #2c3e50;
    color: white;
    font-size: 1rem;
    margin-top: 22px;
    padding: 7px 12px;
    width: 100%; 
   
     height:35px;
     position:relative;
     bottom: 14px;
    left:3px;
     display: inline-block;
     
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 8px;
  }
  button{
    margin-top:0px;
  }

}
