.contain {
  display: flex;
  flex-direction: column;

  padding: 15px;
  font-family: Arial, sans-serif;
}

.contain>h1 {
  color: #333;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

p {
  color: #666;
  font-size: 1rem;
  text-align: left;
}

.Testlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1300px;
}

.card {
  background-color: antique rgb(185, 24, 24);
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 15px 0;
  text-align: center;
}

.card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.Testlist h2{
font-size: 2rem;
}

.info {
  text-align: left;
  font-size: 1rem;
  color: #333;
}

.btn {
  display: block;
  background-color: #007bff;
  color: white;
  text-align: center;
  border: none;
  padding: 7px;
  margin: 12px auto 16px auto;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 0;
}

.btn:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .info {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .contain h1 {
    font-size: 2rem;
  }

  .Testlist h2{
    font-size: 1.3rem;
    }
  p {
    font-size: 1rem;
  }
.info p{
  font-size: 0.8rem;
}
  .info {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.7rem;
    padding: 1px;
  }
}