.card{
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(187, 182, 182);
  border-radius:14px ;
  width:20vw;
  flex-direction: column;
  height: 47vh;
  flex-wrap: wrap;
  object-fit: contain;
  
  margin:10px;
  background-color: rgb(221, 235, 250);
}
.Testlist{
  display :flex;
  flex-direction: row;
}
h1{
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
  color:blue;
}
.card2{
  display:flex;
  flex-direction: row;
  
}
